.orbit-container {
  position: relative;
  height: 500px;
}
.orbit-caption {
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9);
}
.orbit-caption p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fefefe;
  font-size: 48px;
  font-weight: 900;
}
@media screen and (max-width: 39.9375em) {
	.orbit-caption p {
		font-size: 12px;
		font-weight: 400; }
	.orbit-bullets {
		display: none; }
}
